black==23.7.0
build==0.10.0
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.6
idna==3.4
markdown-it-py==3.0.0
mdurl==0.1.2
mypy-extensions==1.0.0
packaging==23.1
pathspec==0.11.1
platformdirs==3.9.1
Pygments==2.15.1
pyproject_hooks==1.0.0
requests==2.31.0
rich==13.4.2
typer==0.9.0
typing_extensions==4.7.1
urllib3==2.0.4
xdg==6.0.0
xdg-base-dirs==6.0.0
